*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 20rem;
}

body {
    width: 100vw;
    height: auto;
    border: solid red;
    background-color: #dfdfdf;
    font-family: Verdana, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1rem;
    border: solid green;
}

#form {
    margin: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}

#form h1 {

}

ul {
    border: solid red;
    list-style-type: none;
}

#how-it-works{
    display: flex;
    font-size: 1rem;
}

#how-it-works b {
    font-size: 1.4rem;
}

#how-it-works li {
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(#b6ff00 10%, #3a4915);
    border-radius: 0.5rem;
}

#footer {
    padding-left: 1rem;
}

@media (max-width: 800px) {
    #form h1 {
        font-size: 1rem;
    }
}